<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.dwealthapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DwealtrhApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app_icon"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.home.HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--
        <activity
            android:name=".view.activity.home.HomeActivity"
            android:screenOrientation="portrait" />
-->
        <activity
            android:name=".view.activity.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".view.activity.register.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".view.activity.faq.FaqActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".view.activity.questionnaire.QuestionnaireActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".view.activity.contactus.ContactUsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".view.activity.taxdescription.TaxDescriptionActivity"
            android:label="@string/title_activity_tax_description"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activity.TransactionHistoryActivity"
            android:label="@string/title_activity_transaction_history"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activity.individual.IndivisualActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".view.activity.profile.ProfileActivity" />
        <activity android:name=".view.activity.NotificationDetailsActivity" />
        <activity android:name=".view.activity.WishListDetailActivity"></activity>
    </application>

</manifest>